<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <mat-toolbar-row>
        <span>Menu Scrum Master</span>
        <span class="fill-space"></span>
        <span>Jira Scrum Agent</span>
      </mat-toolbar-row>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="sub-header">
  <div class="container">
    <h5>Issues Pendientes</h5>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">prioridad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag 1</mat-chip>
              <mat-chip color="primary" selected [disableRipple]="true">tag 2</mat-chip>
              <mat-chip color="primary" selected [disableRipple]="true">tag 3</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-container *ngFor="let smDato of smDatos | async">
      <div class="col-sm-6 container-card">
        <mat-card>

          <mat-chip class="float-right" color="warn" selected [disableRipple]="true">
            {{ smDato.issueResponse.prioridad }}
          </mat-chip>

          <mat-card-header>
            <mat-card-title>
              {{ smDato.issueResponse.nombreIssue }}
            </mat-card-title>
            <mat-card-subtitle>
              <mat-chip-list>
                <ng-container *ngFor="let tag of smDato.issueResponse.tags">
                  <mat-chip color="primary" selected [disableRipple]="true">
                    {{ tag.nombre }}
                  </mat-chip>
                </ng-container>
              </mat-chip-list>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <h6>Developer Recomendado: </h6>
            <mat-toolbar color="primary">
              <mat-toolbar-row>
                <span>{{ getNameLastname(smDato.usuarioResponse) }}</span>
                <span class="fill-space"></span>
                <mat-chip color="accent" selected [disableRipple]="true">
                  {{ smDato.usuarioResponse.rol }}
                </mat-chip>
              </mat-toolbar-row>
            </mat-toolbar>
          </mat-card-content>

        </mat-card>
      </div>
    </ng-container>

  </div>
</div>
