<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <mat-toolbar-row>
        <span>Menu Scrum Master</span>
        <span class="fill-space"></span>
        <span>Jira Scrum Agent</span>
      </mat-toolbar-row>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="sub-header">
  <div class="container">
    <h5>Issues Pendientes</h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6 container-card">
      <mat-card>
        <mat-chip class="float-right" color="warn" selected [disableRipple]="true">dificultad</mat-chip>
        <mat-card-header>
          <mat-card-title>
            Nombre Issue
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip color="primary" selected [disableRipple]="true">tag</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Developer Recomendado: </h6>
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Nombre Apellido</span>
              <span class="fill-space"></span>
              <mat-chip color="accent" selected [disableRipple]="true">rol</mat-chip>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
