.sub-header {
  background-color: #EEE;
  width: 100%;

  .container {
    padding: 5px 32px 1px;
  }
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.container-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-sm-12 {
  padding-top: 10px;
  padding-bottom: 15px;
}

.puntaje {
  width: 100px;

  input {
    font-size: 32px;
    text-align: center;
  }
}

